body{
    margin: 10px;
}

p{
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

p.para1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.para2{
font-family: Arial, Helvetica, sans-serif;
}

p.para3{
font-family: 'Courier New', Courier, monospace;
}

H1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: xx-large;
    color: #f14e4e;
}

@font-face{
    font-family: "opensans";
    src:url("FONTS\open-sans\opensans-regular-webfont.woff2");
    
}